# === Django ===
SECRET_KEY=change_me_in_prod
DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOW_ALL=True
# CORS_ALLOWED_ORIGINS=https://twoja-domena.pl,https://app.twoja-domena.pl

# === JWT lifetimes ===
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

# === Superuser bootstrap (optional) ===
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin123
SUPERUSER_FULL_NAME=Admin

# Host port mapping (host:container)
PORT=8000
